$ctrlWidth:50px;
$ridingWidth:600px;

$black:#000;
$blue: #99cedb;
$grey:#999;
$darkerGrey:#333;
$darkGrey:#444;
$lightGrey:#ccc;
$white:#fff;

.ctrl {
 background-color:$lightGrey;
 color:$darkerGrey;
 display:block;
 font-size:3em;
 font-weight:bold;
 height:100%;
 line-height:1.5;
 margin:0;
 outline:0;
 position:absolute;
 text-align:center;
 text-decoration:none;
 vertical-align:middle;
 width:$ctrlWidth
}
.ctrl:not([disabled]):hover{
  background-color:$blue;
  color:$black;
  cursor:pointer
}
.ctrl:not([disabled]):active{
  background-color:$blue;
  color:$darkGrey
}

.ctrl--back{
 border-right:1px solid $grey;
 left:0
}
.ctrl--next{
 border-left:1px solid $grey;
 right:0
}

.ec-results {
  border:1px solid $grey;
  width: $ridingWidth;
  min-height: 600px;
  overflow: hidden;
  padding-bottom:2em;
  position: relative;
}

.ec-results__wrapper-ridings {
  left:0;
  position: absolute;
  width: 50000px;
}

.riding {
 width:$ridingWidth;
}

.riding__list-candidate {
 min-height:1em;
 list-style-type:none
}

.ec-results__wrapper-controls{
 height:100%;
 position:absolute;
 top:0;
 vertical-align:top;
 width:$ridingWidth;
 z-index:20000;
}
