$ridingWidth:500px;

.ctrl {
 background-color:#99cedb;
 @include ctrlsize(50px);
 color:#000;
 display:inline-block;
 font-size:2em;
 font-weight:bold;
 line-height:1.5;
 margin:500px 0 0 100px;
 outline:0;
 position:static;
 text-align:center;
 text-decoration:none;
 vertical-align:middle;
 z-index:20000;
}
.ctrl--back{
 float:left;
 margin-left:100px
}
.ctrl--next{
 float:right;
 margin-right:120px
}

.ec-results {
  border:1px solid #999;
  width: $ridingWidth;
  min-height: 550px;
  overflow: hidden;
  padding-bottom:2em;
  position: relative;
}

.ec-results__wrapper-ridings {
  position: absolute;
  width: 50000px;
}

.riding {
 width:$ridingWidth;
}

.riding__list-candidate {
 min-height:1em;
}
