.cap{text-transform:uppercase}
.ctrl--back:before{content:"\2039"}
.ctrl--next:before{content:"\203A"}
.label{font-weight:bold}

.riding__heading {
  font-size:1.4em;
  font-weight:bold;
}
.riding__list, .riding__textSummary-totalVotes {
 text-align:center
}

.riding__list-candidate{
 font-weight:bold
}

.riding__textSummary--winner{
 font-weight:bold
}
